body {
    background: #99cdf8;
    background-image: linear-gradient( 135.9deg,  #247BA0 16.4%, #00E3AE 56.1% );
    min-height: 100vh;
    overflow-x: hidden;
  }
.slider {
    background-color: rgb(88, 240, 235) 16.4%;
    height: 100vh;
}

nav{
	background-color: rgb(50, 158, 154) 16.4%;

}
.logohere{
    height: 69px;
    width: 148px;
    margin-right: 10px;
}
.cook{
    margin-top: 10px !important;
    padding: 0px;
}
h2{
    
    margin-top: 5px;
    text-align: center;
    

}
.col-sm-4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    
   
}
.rowco{
   margin-top: 50px;
   margin-bottom: 25px;

}
.carousel-item img{
	border: 2px solid #262626;
	border-radius: 5px;
}
.subbtn{
	margin-top: 10px;
}
.card img{
	height: 200px;
}
.carding{
	padding-left: 50px;
	padding-bottom: 50px;
}
.teamcont{
	padding-top: 20px;
	padding-bottom: 20px;
}
.teamcont h3, .teamcont h4{
	margin-bottom: 10px;
	word-spacing: 5px;
}
.teams{
	background-color:  rgb(88, 240, 235) 16.4%;
	margin-top: 0px;
}
.footer{
	background-color:  rgb(88, 240, 235) 16.4%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer h4{
	word-spacing: 5px;
	color: white;
}
.service {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.service p{
	word-spacing: 5px;
	padding-top: 3px;
	font-style: italic;
	padding-bottom: 15px;
}
.rowsetting{
	margin-top: 40px;
}
.imgsetting{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.imgsetting i{
	margin-top: 25px;
}
.colsetting h2{
	margin-top: 10px;
	font-style: bold;
}
.rform{
	padding-top: 50px;
}
.images-selector input {
	position: absolute;
	z-index: 10;
  }
  
  .img-fluid {
	display: inline-block;
	
	
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 200ms ease-in;

  }
  
  .img-fluid:hover {
	filter: grayscale(0) opacity(1);
  /*   box-shadow:  0px 8px 4px rgba(0, 0, 0, 0.3),
				 0px 10px 2px rgba(0, 0, 0, 0.1); */
  }
  
  .img-card::before,
  .img-card::after {
	transform: scaleY(-1);
  }
  
  

