.slider {
    background-color: #ffc107;
    height: 100vh;
}

nav{
	background-color: #b0f3aa;

}
.logohere{
    height: 69px;
    width: 148px;
    margin-right: 10px;
}
.cook{
    margin-top: 10px !important;
    padding: 0px;
}
h2{
    font-style: bold;
    margin-top: 5px;
    text-align: center;
    text-shadow: rgba(5, 7, 6, 0.534) 2px 2px 4px;

}
.col-sm-4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    
   
}
.rowco{
   margin-top: 50px;
   margin-bottom: 25px;

}
.carousel-item img{
	border: 2px solid #262626;
	border-radius: 5px;
}
.subbtn{
	margin-top: 10px;
}
.card img{
	height: 200px;
}
.carding{
	padding-left: 50px;
	padding-bottom: 50px;
}
.teamcont{
	padding-top: 20px;
	padding-bottom: 20px;
}
.teamcont h3, .teamcont h4{
	margin-bottom: 10px;
	word-spacing: 5px;
}
.teams{
	background-color: #404040;
	margin-top: 0px;
}
.footer{
	background-color: #262825;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer h4{
	word-spacing: 5px;
	color: white;
}
.service {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.service p{
	word-spacing: 5px;
	padding-top: 3px;
	font-style: italic;
	padding-bottom: 15px;
}
.rowsetting{
	margin-top: 40px;
}
.imgsetting{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.imgsetting i{
	margin-top: 25px;
}
.colsetting h2{
	margin-top: 10px;
	font-style: bold;
}
.rform{
	padding-top: 50px;
}